This is a sample notebook on how to use the exercise files

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'text': ['this course is hands-on','happy to be here','we love Natural Language Processing']})

In [3]:
df.to_csv('00_02_how_to_use_the_exercise_files', index=False)

In [5]:
pd.read_csv('00_02_how_to_use_the_exercise_files')

                                  text
0              this course is hands-on
1                     happy to be here
2  we love Natural Language Processing